.My_card{
    width: 450px;
    height: 150px;
    background-color: #3ea357;
}

.text{
    font-size: 35px;
    color: black;
    text-align: center;
}

.My_bio{
    max-width: 350px;
    background-color: #3ea357;
    padding: 24px; 
    border-radius: 16px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08); 
    border: 1px #f0f0f0;
}